# WizPrinter Kiosk - Python Dependencies
# Install with: pip install -r requirements.txt

kivy>=2.3.0
pillow>=10.0.0
requests>=2.31.0
Pillow>=10.0.0
pymupdf==1.25.3
git+https://github.com/OpenPrinting/pycups.git

# Raspberry Pi specific (uncomment on Pi)
# kivy[full]
# RPi.GPIO
